{% extends "base.html" %}
{% block jumbotron %} 
{% load static %}
<div class="jumbotron">
	<div class ="contact-form">
		<h1 class="mb-4">OpenWRT manager</h1>
		<form method="POST" class="post-form"  action="{% block search_uri %}{% endblock %}">
			 {% csrf_token %}
			<div class="form-inline">
				<input type="search" class="form-control mr-sm-2" name="search" id="id_search" placeholder="Search" aria-label="Search" required maxlength="32" value=""/>
				<button type="submit" class="btn btn-primary my-2 my-sm-0"><i class="fa fa-search"> Search </i></button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
