{% extends "baseJumbotron.html" %}
{% block title %}User list{% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Administrator</th>
        <th>Username</th>
        <th>Email</th>
        <th>Last login</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
        <td>
            {% if user.is_superuser %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.last_login }}</td>
        <td>
            <a href="/wrtapp/user/edit/{{ user.id }}">Edit</a>
            <a href="/wrtapp/user/delete/{{ user.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>  
<center><a href="/wrtapp/user/create" class="btn btn-primary">Add</a></center>  
{% endblock %}
